* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;

  &:not([ class ]) {
    color: #448aff;
    text-decoration-skip-ink: auto;
  }
}

button {
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

@keyframes load {
  from {
    transform: translateX(-45);
  }

  to {
    transform: translateX(100%);
  }
}
